body {
  background-color: lightblue;
}

body {
  color: white;
}

.Bio {
  margin-right: 350px;
  margin-left: 350px;
}

.Top {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 350px;
}

.Image{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 350px;
}

.Work {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 350px;
}

div class="Top"{
  background-color: black;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}
