body {
  background-color: lightblue;
}

body {
  color: white;
}

.Bio {
  margin-right: 350px;
  margin-left: 350px;
}

.Top {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 350px;
}

.Image{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 350px;
}

.Work {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 350px;
}

.Top{
    border:10px solid #000;
    border-radius: 10px 40px 40px 10px;
    width: 500px;
    height: 275px;
    background-color:#000;
}

.Bio{
    border:10px solid #000;
    border-radius: 40px 10px 10px 40px;
    width: 500px;
    height: 200px;
    background-color:#000;
}

.Work{
    border:10px solid #000;
    border-radius: 10px 40px 40px 10px;
    width: 500px;
    height: 550px;
    background-color:#000;
}
